*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
a{
    color: inherit;
    text-decoration: none;
}
button{
    border: none;
    background-color: transparent;
    cursor: pointer;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: top;
}
.blind{
    display: none;
}
.wrapper{
    position: relative;
    min-width: 1325px;
}
body{
    font-family: '맑은 고딕', 'Malgun Gothic';
    font-size: 15px;
    color: #333;
    background-color: #fff;
}

.wrapper{
    height: 970px;
}
.top{
    height: 850px;
    display: flex;
}
header{
    width: 200px;
}
.content{
    width: calc(100% - 200px);
}
.content .cont01{
    height: 400px;
}
.content .banner{
    height: 200px;
}
.content .bbs{
    height: 250px;
}
footer{
    height: 120px;
}

header{
    background-color: #ccc;
    color: #fff;
    padding: 10px;
    position: relative;
}
header h1 a{
    display: block;
    width: 200px;
    height: 40px;
}
header h1 a img{
    object-fit: contain;
}
header nav > ul.depth1{
    margin-top: 30px;
}
header nav > ul.depth1 > li{
    position: relative;
}
header nav > ul.depth1 > li > a{
    display: block;
    padding: 20px 10px;
    background-color: #ad21db;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
}
header nav > ul.depth1 > li.active > a,
header nav > ul.depth1 > li > a:hover{
    background-color: #db2199;
}
header nav > ul.depth1 > li > ul.depth2{
    position: absolute; /* 1차 메뉴 기준 정렬 */
    top: 0;
    left: 100%;
    width: 1000px;
    height: 100%;
    background-color: #333;
    color: #fff;
    z-index: 100;
    display: none;
}
header nav > ul.depth1 > li > ul.depth2 > li{
    display: inline-block;
    height: 100%;
}
header nav > ul.depth1 > li > ul.depth2 > li > a{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 0;
    width: 150px;
    height: 100%;
    text-align: center;
    color: #fff;
}
header nav > ul.depth1 > li > ul.depth2 > li > a:hover,
header nav > ul.depth1 > li > ul.depth2 > li > a:focus{
    background-color: #fff;
    color: #ad21db;
    font-weight: 700;
}
header .menu_bg{
    position: absolute; /* header 기준 정렬 */
    z-index: 90;
    left: 190px;
    top: 80px;
    width: 100vw;
    height: 268px;
    background-color: #333;
    display: none;
}
.cont01 .slide{
    position: relative;
    overflow: hidden;
    height: 400px;
    width: 100%;
}
.cont01 .slide ul{
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    width: 300%;
    height: 100%;
}
.cont01 .slide ul li{
    width: calc(100% / 3);
    height: 100%;
}
.cont01 .slide ul li a{
    display: block;
    width: 100%;
    height: 100%;
}
.cont01 .go{
    position: fixed;
    right: 20px;
    top: 20px;
    width: 120px;
    height: 300px;
    border-radius: 10px;
    background-color: #ad21db;
    color: #fff;
    text-align: center;
    padding: 10px;
}
.cont01 .go ul{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.cont01 .go a{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 5px;
    position: relative;
}
.cont01 .go a::after{
    position: absolute;
    content: "";
    left: 0;
    bottom: 75px;
    width: 100%;
    height: 1px;
    background-color: #fff;
}
.cont01 .go ul li:first-child a::after{
    display: none;
}
.cont01 .go .photo{
    width: 30px;
    height: 30px;
    overflow: hidden;
    background-color: #fff;
    border-radius: 50%;
}