*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
a{
    color: inherit;
    text-decoration: none;
}
button{
    border: none;
    background-color: transparent;
    cursor: pointer;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: top;
}
.blind{
    display: none;
}
.wrapper{
    position: relative;
    min-width: 1325px;
    height: 100vh;
}
body{
    font-family: '맑은 고딕', 'Malgun Gothic';
    font-size: 15px;
    color: #333;
    background-color: #fff;
}
:root{
    --main-color: #ad21db;
    --sub-color: #db2199;
    --text-color: #333;
    --color-w: #fff;
}

.top{
    height: calc(100% - 120px);
    display: flex;
}
footer{
    height: 120px;
}
header{
    width: 200px;
}
.content{
    width: 400px;
    padding: 20px 10px 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.slide{
    width: calc(100% - 600px);
}
header{
    padding: 10px;
    background-color: #f4f4f4;
}
header h1 a{
    display: block;
    width: 100%;
    height: 120px;
}
header nav{
    margin: 30px 0;
}
header nav > ul.depth1 > li > a{
    display: block;
    padding: 10px 5px;
    text-align: left;
    font-size: 22px;
    font-weight: 700;
    background-color: var(--color-w);
    color: var(--main-color);
    border: 1px solid var(--main-color);
}
header nav > ul.depth1 > li:not(:last-child) > a{
    border-bottom: none;
}
header nav > ul.depth1 > li.active > a,
header nav > ul.depth1 > li > a:hover{
    background-color: var(--main-color);
    color: var(--color-w);
}
header nav > ul.depth1 > li > ul.depth2{
    background-color: var(--sub-color);
    color: var(--color-w);
    display: none;
}
header nav > ul.depth1 > li > ul.depth2 > li > a{
    display: block;
    padding: 5px 20px;
}
header nav > ul.depth1 > li > ul.depth2 > li > a:hover,
header nav > ul.depth1 > li > ul.depth2 > li > a:focus{
    background-color: var(--color-w);
    color: var(--main-color);
    font-weight: 700;
}
header > ul{
    display: flex;
}
header > ul > li > a{
    display: block;
    width: 90px;
    text-align: center;
    position: relative;
}
header > ul > li > a::after{
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 10px;
    background-color: #666;
}
header > ul > li:last-child > a::after{
    display: none;
}
.content .banner{
    background-color: var(--main-color);
    color: var(--color-w);
    border-radius: 20px;
    overflow: hidden;
}
.content .banner a{
    display: flex;
    align-items: center;
    gap: 0 10px;
}
.content .banner a > img{
    width: 120px;
    height: 120px;
}
.content .banner a .txt{
    flex-grow: 1;
}
.content .banner a .txt p{
    word-break: normal;
    font-size: 13px;
    margin-top: 10px;
}
.content .banner a .arrow img{
    width: 50px;
    height: 50px;
    padding-right: 5px;
}
.notice h2{
    font-size: 22px;
    font-weight: 700;
    display: inline-block;
    padding: 5px 20px;
    background-color: var(--main-color);
    color: var(--color-w);
    border-radius: 20px 20px 0 0;
    margin-left: 15px;
}
.notice ul{
    background-color: var(--main-color);
    color: var(--color-w);
    padding: 15px 10px;
}
.notice ul li a{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid var(--color-w);
}
.gallery h2{
    font-size: 22px;
    font-weight: 700;
    display: inline-block;
    padding: 5px 20px;
    background-color: var(--main-color);
    color: var(--color-w);
    border-radius: 20px 20px 0 0;
    margin-left: 15px;
}
.gallery ul{
    display: flex;
    gap: 0 20px;
    background-color: var(--main-color);
    color: var(--color-w);
    padding: 15px 10px;
}
.gallery ul li a{
    display: flex;
    flex-direction: column;
    gap: 5px 0;
    height: 100%;
}
.gallery ul li a img{
    height: 120px;
}
.go{
    background-color: var(--main-color);
    color: var(--color-w);
    padding: 15px 20px;
}
.go ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.go ul li a{
    display: block;
    height: 100%;
    text-align: center;
}
.go ul li a img{
    width: 70px;
    height: 70px;
    background-color: var(--color-w);
    border-radius: 50%;
}
.go ul li a p{
    margin-top: 10px;
}
.slide{
    position: relative;
    overflow: hidden;
    width: calc(100% - 600px);
}
.slide ul{
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    width: 300%;
    height: 100%;
}
.slide ul li{
    width: calc(100% / 3);
    height: 100%;
}
.slide ul li a{
    display: block;
    width: 100%;
    height: 100%;
}
.popup{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 300px;
    background-color: var(--main-color);
    color: var(--color-w);
    padding: 20px;
    display: none;
}
.popup h2{
    font-size: 28px;
    font-weight: 700;
}
.popup p{
    margin: 20px 0;
}
.popup .close{
    position: absolute;
    right: 20px;
    bottom: 20px;
}
.popup .close button{
    padding: 7px 25px;
    background-color: var(--sub-color);
    color: var(--color-w);
    font-weight: 700;
    font-size: 17px;
}

footer{
    display: flex;
    align-items: center;
    background-color: #333;
    color: var(--color-w);
    padding: 10px;
}
footer .f_logo{
    width: 200px;
    height: 100%;
    margin-right: 50px;
}
footer .box{
    display: flex;
    flex-direction: column;
    gap: 20px 0;
    width: 100%;
}
footer .box ul{
    display: flex;
    gap: 0 20px;
    position: relative;
}
footer .box ul::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 100%;
    height: 1px;
    background-color: var(--color-w);
    opacity: 0.1;
}
footer .box ul li a{
    display: block;
    width: 100px;
    position: relative;
}
footer .box ul li a::after{
    content: "";
    position: absolute;
    left: -35px;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 10px;
    background-color: var(--color-w);
}
footer .box ul li:first-child a::after{
    display: none;
}
footer .copyright{
    opacity: 0.3;
}